# Hello World!

In Programing the first thing usually taught is how to print out Hello World! to the screen, so lets do that.

In [1]:
print("Hello World!")

Hello World!

### Comments

In programming comments are used to explain what a line of code does. This increases readability both for the programmer and a stranger comming to read the code for the first time.

In [2]:
# This is a comment

### Arithmetics in Python

To perform arithmetic operations in python we use aritnmetic operators for this purposes. The aritmetic operators are Addition(+), Subtraction(-), Multiplication( * ), Division(/), Modululs(%), Exponent( ** )

In [3]:
#Addition
5 + 5

10

In [4]:
# Subtraction
10 - 5

5

In [5]:
# Multiplication
3 * 5

15

In [6]:
# Division
10 / 2

5.0

In [7]:
# Modulus ( remainder )
18 % 7

4

In [8]:
18 / 7

2.5714285714285716

In [9]:
# Exponents (raised to power)
4 ** 2

16

In [10]:
5 ** 5

3125

### Variable Assingments

To assign a variable in python all we have to do is to type the variable name and give it a value. For example:

In [11]:
x = 5

In [12]:
print(x)

5

In [13]:
x = 10

In [14]:
print(x)

10

Variables can be used to perform math operations in place of numbers. For example:

In [15]:
num = 10
mul = 2

print(num * mul)

20

In [16]:
print(num * x)

100

### Data Types

Their are several data types in python. Examples are:

Their are 4 data types in python

* Intergers ( Whole Numbers)
* Floats ( Decimals and Fraction )
* Strings ( Text )
* Booleans ( True or False )

In [17]:
type1 = 100 # Integer
type2 = 1.1 # Float
type3 = "This program is brought to you by 'COLPHYS and CCCTI'" # Strings
type4 = True # boolean 1
type5 = False # boolean 2

In [18]:
print(type3)

This program is brought to you by 'COLPHYS and CCCTI'

In python you can check the data type of an already defined variable by just using the function `type()`

In [19]:
type(type4)

bool

In [20]:
type(type3)

str

Just as operation can be performed on numbers in Python we can also perform addition on strings also. This is called concatenation.

Concatenation is the process of joining two strings together

In [21]:
string1 = "COLPHYS & "
string2 = "CCTI"

result = string1 + string2

In [22]:
print(result)

COLPHYS & CCTI

To repeat string use the multiplication operator `*`

In [23]:
result2 = string1 * 3
print(result2)

COLPHYS & COLPHYS & COLPHYS &

In Python it is possible to change the data type of a particular variable using functions like.

* str() - changes a variable to a string
* float() - changes a variable to a float
* int() - changes a variable to an integer
* bool() - changes a variable to boolean

In [24]:
data =  "1.0000"
type(data)

str

In [25]:
data1 = float(data)
print(data1)
type(data1)

1.0

float

### Python Lists

In programming a list is an example of what we call a complex data type.

In [26]:
a = "is"
b = "nice"
my_list = ["my", "list", a, b]

In [27]:
my_list

['my', 'list', 'is', 'nice']

In [28]:
# to define a list in python  all you have to use is square brackets []
new_list = [1, 2, 3, 4, 5, "One", "Two", "Three", "Four", "Five", True, False ]

In [29]:
new_list

[1, 2, 3, 4, 5, 'One', 'Two', 'Three', 'Four', 'Five', True, False]

A python list can contain more than one data type

In [30]:
one = 1.0
two = 2.0
three = 3.0
numbers = [one, two, three, "One", "Two", "Three"]
numbers

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']

In [31]:
# Also a list can also contain a list in python

a = [1, 2, 3, 4, 5]
b = ["one", "two", "three", "four", "five"]
c = [1.0, 2.0, 3.0, 4.0, 5.0]

list1 = [a, b, c]
list1

[[1, 2, 3, 4, 5],
 ['one', 'two', 'three', 'four', 'five'],
 [1.0, 2.0, 3.0, 4.0, 5.0]]

In [32]:
# List Indexing
new_list

[1, 2, 3, 4, 5, 'One', 'Two', 'Three', 'Four', 'Five', True, False]

In [33]:
new_list[0]

1

In [34]:
new_list[11]

False

In [35]:
new_list[-1]

False

In [36]:
new_list[-3]

'Five'

In [37]:
list1

[[1, 2, 3, 4, 5],
 ['one', 'two', 'three', 'four', 'five'],
 [1.0, 2.0, 3.0, 4.0, 5.0]]

In [38]:
list1[2]

[1.0, 2.0, 3.0, 4.0, 5.0]

In [39]:
list1[2][3]

4.0

In [40]:
numbers

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']

In [41]:
# List Slicing

numbers[0:] # from index 0 upstairs

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']

In [42]:
numbers[4:] # from index 4 upstairs

['Two', 'Three']

In [43]:
numbers[0:5] # from index 0 to index 4

[1.0, 2.0, 3.0, 'One', 'Two']

In [44]:
numbers[1:5] # from index 1 to index 4

[2.0, 3.0, 'One', 'Two']

In [45]:
numbers[:5] # from index 4 downstairs

[1.0, 2.0, 3.0, 'One', 'Two']

In [46]:
print(numbers[:]) # Every element in the list.

[1.0, 2.0, 3.0, 'One', 'Two', 'Three']

In [47]:
# Changing values of elements in a list

# Using the numbers list
numbers[-1] = "three"
print(numbers)

[1.0, 2.0, 3.0, 'One', 'Two', 'three']

In [48]:
# Appending elements to a list

numbers1 = numbers + ["Four", "Five"]

print(numbers1)

[1.0, 2.0, 3.0, 'One', 'Two', 'three', 'Four', 'Five']

In [49]:
# Deleting elements in a list
# To delete an element in a list you use the delete function [del()]

del(numbers1[-2])

print(numbers1)

[1.0, 2.0, 3.0, 'One', 'Two', 'three', 'Five']